// colors
$darkest: #161925;
$darker: #23395b;
$midtone: #406e8e;
$lighter: #8ea8c3;
$lightest: #cbf7ed;
$dark-grey: #444;
$light-grey: #d9d9d9;

// fonts
$font-sans: 'Open Sans', sans-serif;
$font-serif: 'Lora', serif;

// alignement
$centerize: 0 auto;
